[Mode]
debug = True
dryrun = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = LiDO3_Dortmund
delay = -1

[Cluster]
user = $USER
os = RHEL7
scheduler = slurm
submit_command = sbatch -N 1 --exclusive -p med
limit_per_submit = 5
walltime_hrs = 8
partitions = single, quarter, half, standard, quad, quad-fat, gpu
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID

[single]
cpu_only = True
max_cpus_per_job = 1
max_memory_per_job = 4000
max_disk_per_job = 40000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[quarter]
cpu_only = True
max_cpus_per_job = 5
max_memory_per_job = 15000
max_disk_per_job = 200000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[half]
cpu_only = True
max_cpus_per_job = 10
max_memory_per_job = 30000
max_disk_per_job = 400000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[standard]
cpu_only = True
whole_node = True
whole_node_cpus = 20
whole_node_memory = 60000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[quad]
cpu_only = True
whole_node = True
whole_node_cpus = 48
whole_node_memory = 250000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cquad01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cquad01|wc -l
max_total_jobs = 25
max_idle_jobs = 5
limit_per_submit = 5

[quad-fat]
cpu_only = True
whole_node = True
whole_node_cpus = 48
whole_node_memory = 1000000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cquad02|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cquad02|wc -l
max_total_jobs = 5
max_idle_jobs = 5
limit_per_submit = 5

[gpu]
gpu_only = True
whole_node = True
whole_node_cpus = 20
whole_node_gpus = 2
whole_node_memory = 60000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cgpu01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cgpu01|wc -l
max_total_jobs = 10
max_idle_jobs = 5
limit_per_submit = 5



[SubmitFile]
filename = glidein_lido3.sh
local_dir = /scratch/$USER/glidein/$SLURM_JOB_ID
custom_end = rm -rf $LOCAL_DIR
