[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = LiDO3_Dortmund

[Cluster]
user = $USER
os = RHEL7
scheduler = slurm
submit_command = sbatch -N 1 --exclusive -p med
limit_per_submit = 5
walltime_hrs = 8
partitions = single, quarter, half, standard, quad, quad-fat, gpu


[single]
cpu_only = True
whole_node_cpus = 1
whole_node_memory = 4000
whole_node_disk = 40000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[quarter]
cpu_only = True
whole_node_cpus = 5
whole_node_memory = 15000
whole_node_disk = 200000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[half]
cpu_only = True
whole_node_cpus = 10
whole_node_memory = 30000
whole_node_disk = 400000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[standard]
cpu_only = True
whole_node = True
whole_node_cpus = 20
whole_node_memory = 60000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[quad]
cpu_only = True
whole_node = True
whole_node_cpus = 48
whole_node_memory = 250000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[quad-fat]
cpu_only = True
whole_node = True
whole_node_cpus = 48
whole_node_memory = 1000000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[gup]
gpu_only = True
whole_node = True
whole_node_cpus = 20
whole_node_gpus = 2
whole_node_memory = 60000
whole_node_disk = 800000
running_cmd = squeue -u $USER -t RUNNING|grep $USER|grep cstd01|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|grep cstd01|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[SubmitFile]
filename = glidein_cpu.sh
local_dir = /scratch/$USER/glidein/$SLURM_JOB_ID
custom_end = rm -rf $LOCAL_DIR
