[Mode]
debug = True 
dryrun = True 

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = LiDO3_Dortmund
delay = -1

[Cluster]
user = $USER
os = RHEL7
cvmfs = True
scheduler = slurm
partitions = standard-short, standard-med, high_mem-short, ultra_mem-short
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID
max_total_jobs = 20

[standard-short]
submit_command = sbatch -N 1 -p short
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 2
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 10000
whole_node_disk = 100000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep short | grep mem=10000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep short | grep mem=10000 | wc -l

[standard-med]
submit_command = sbatch -N 1 -p med
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 8
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 10000
whole_node_disk = 100000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep med | grep mem=10000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep med | grep mem=10000 | wc -l

[standard-long]
submit_command = sbatch -N 1 -p long
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 48
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 10000
whole_node_disk = 100000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep long | grep mem=10000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep long | grep mem=10000 | wc -l

[high_mem-short]
submit_command = sbatch -N 1 –C cquad01 -p short
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 2
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 25000
whole_node_disk = 100000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep short | grep mem=25000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep short | grep mem=25000 | wc -l

[high_mem-med]
submit_command = sbatch -N 1 –C cquad01 -p med
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 8
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 25000
whole_node_disk = 100000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep med | grep mem=25000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep med | grep mem=25000 | wc -l

[high_mem-long]
submit_command = sbatch -N 1 –C cquad01 -p long
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 48
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 25000
whole_node_disk = 100000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep long | grep mem=25000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep long | grep mem=25000 | wc -l

[ultra_mem-short]
submit_command = sbatch -N 1 –C cquad01 -p short
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 2
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 105000
whole_node_disk = 200000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep short | grep mem=105000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep short | grep mem=105000 | wc -l

[ultra_mem-med]
submit_command = sbatch -N 1 –C cquad01 -p med
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 8
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 105000
whole_node_disk = 200000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep med | grep mem=105000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep med | grep mem=105000 | wc -l

[ultra_mem-long]
submit_command = sbatch -N 1 –C cquad01 -p long
limit_per_submit = 2
max_idel_jobs = 5
walltime_hrs = 48
cpu_only = True
whole_node = True
whole_node_cpus = 5
whole_node_memory = 105000
whole_node_disk = 200000
running_cmd =  squeue -u $USER -t RUNNING -h -O tres:34,partition | grep long | grep mem=105000 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O tres:34,partition | grep long | grep mem=105000 | wc -l


[SubmitFile]
filename = glidein_lido3.sh
custom_middle = '#SBATCH --mail-user=$USER@tu-dortmund.de\n #SBATCH --mail-type=FAIL'
local_dir = /scratch/$USER/glidein/$SLURM_JOB_ID
